@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}


@font-face {
font-family: "gotham-book-regular";
src: url("css/font/gotham-book-regular.ttf");
src: url("css/fonts/gotham-book-regular.woff") format("woff");
}

html {
    font-size: 1em;
}

body {
  background-color: white;
  font-size: 18px;
  line-height: 28px;    
  font-family: "gotham-book-regular", sans-serif;
  color: #333;
}

p {
  font-family: "gotham-book-regular", sans-serif;
  font-size: 	
}

h1 {
  font-family: "tiempos-headline-medium", serif;    
  font-size: 62px;
  font-weight: 400;
}

h2 {
    font-family: "tiempos-headline-medium", serif;
    font-size: 48px;
    font-weight: 400;
}

h3 {
     font-family: "gotham-book-regular", sans-serif;
    font-size: 22px;
    font-weight: 100;
}

h4 {
    font-family: "gotham-book-regular", sans-serif;
    font-size: 18px;
    font-weight:100;
}

.center{
    
 text-align: center;   
}




